.loader{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid #4ECDC4;
    border-top: 20px solid #FFE66D;
    animation: SpinAnimate 2s steps(5) 0s infinite alternate-reverse;    
}


@keyframes SpinAnimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}